<!DOCTYPE html>
<html ng-app="Calculator">
<head>
    <title>Calculator</title>
    <!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
</head>
<body>
    <div ng-controller="CalculatorController">
        <input type="text" ng-change="onChangeValue()" ng-model="displayValue">
        <div>{{result}}</div>
        <button class="btn" type="button" ng-click="onClickClear()">C</button>
        <button class="btn" type="button" ng-click="onClickSum()">+</button>
        <button class="btn" type="button" ng-click="onClickSubtract()">-</button>
        <button class="btn" type="button" ng-click="onClickMultiply()">*</button>
        <button class="btn" type="button" ng-click="onClickDivide()">/</button>
        <button class="btn" type="button" ng-click="onClickCalculate()">=</button>
    </div>
 
    <!-- Dependencies -->
    <script type="text/javascript" src="angular/js/angular.min.js"></script>
 
    <!-- App -->
    <script type="text/javascript" src="Calculator.js"></script>
 
</body>
</html>